html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #222;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #222;
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #7c5cff;
}

/* Hero */
.hero {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    padding: 50px 8%;
    background: #f3f0ff;
}

.hero-content {
    max-width: 650px;
}

.small
